{% extends "layout.html" %}
{% block content %}

    <header class="masthead d-flex">
      <div class="container text-center my-auto">


      <!-- Welcome user -->


        {% if session_username is defined %}
              <h1>Welcome, {{ session_username }}!</h1>
              <h2 class="mb-2"> You and Your Followers</h2>
        {% else %}
              <h1>Welcome!</h1>
              <h5 class="mb-2"> <i>All posts are listed here. To create a followers group, please log-in or sign-up.</i></h5>
        {% endif %}

              <div style="padding-top:30;
              padding-bottom:30;
              background-color:#ffffff55;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;">

              <!-- Show Authors Posts -->
              {% for p in posts %}
                <p> Author@{{ p.postauth }}: {{ p.content }}</p>
              {% endfor %}

             </div>
             <br>

     <div class="input-group-prepend">

      <!-- NEW POST, LOGIN, SIGNUP and LOGOUT buttons -->
      {% if session_username is defined %}
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-primary btn-x2 js-scroll-trigger"
            style="margin-right: 4px;"> Log out </button>
          </form>

          <form action="/newpost" method="GET">
            <button type="submit" class="btn btn-primary btn-x2 js-scroll-trigger"> New Post </button>
          </form>
          {% else %}

          <form action="/login" method="GET">
            <button type="submit" class="btn btn-primary btn-x2 js-scroll-trigger"
            style="margin-right: 4px;"> Log in </button>
          </form>
          <form action="/signup" method="GET">
            <button type="submit" class="btn btn-primary btn-x2 js-scroll-trigger"> Sign up </button>
          </form>
        {% endif %}

       <form class="form-inline" action="/search" method="POST"
       style="margin-right:auto;margin-left:auto;">

          <!-- Search -->
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">Search</button>

      </form>
    </div>
  </header>
{% endblock %}
