{% extends "layout.html" %}
{% block content %}

<header class="masthead d-flex">
      <div class="container text-center my-auto">

	<h4><a href="{{ url_for('index') }}">Home</a></h4>
	<h1>{{user.username}}'s Posts </h1>


  <div class="container text-center my-auto">
     <br>
        <div class="col-lg-8 mx-auto" class="page-title">

              <div style="padding-top:30;
              padding-bottom:30;
              background-color:#ffffff55;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;">

               <!-- Author's posts -->
               {% for p in posts %}
                 <p> Author@{{ p.author }}: {{ p.content }}</p>
               {% endfor %}

            </div>
             <br>
          </div>


    <!-- Follow/Unfollow buttons -->
    {% if follow_flag is defined %}

      {% if follow_flag %}
      <form action="/unfollow/{{user.username}}" method="POST">
        <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Unfollow </button>
      </form>
      {% else %}

      <form action="/follow/{{user.username}}" method="POST">
        <button type="submit" class="btn btn-primary btn-xl js-scroll-trigger"> Follow </button>
      </form>
      {% endif %}

    {% endif %}

 </div>
</header>


{% endblock %}
